:root {
    --blue1: #ddf6ff;
    --blue2: #21abd9;
    --blue3: #022a72;
}

body {
    margin: 15px;
    font-family: "Inter", Helvetica, Arial, sans-serif;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>div:nth-child(1) {
    width: 15px;
    height: 20px;
    margin: auto 0;
    background-image: url(assets/back.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nav>div:nth-child(2) {
    width: 100px;
    height: 25px;
    margin: auto 0;
    background-image: url(assets/paytm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.nav>div:nth-child(3) {
    font-size: 14px;
    margin: auto 0;
    font-weight: bold; 
    color: var(--blue2);
}


.blue-container {
    width: 100%;
    border-radius: 5px;
    background: var(--blue1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.amts {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(/assets/amts.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.manpasand {
    font-size: 23px;
    font-weight: 800;
}

.adult {
    font-size: 13px;
}

.user {
    width: 75px;
    height: 46px;
    background-image: url(/assets/user.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.price {
    display: flex;
    gap: 5px;
    font-size: 43px;
    font-weight: 700;
}

.green-tick {
    height: 50px;
    width: 50px;
    background-image: url(/assets/green-tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.pass-booked {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: -10px;
}

.date {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin-top: 10px;
}

.line {
    height: 1.2px;
    width: 90%;
    background-image: url(/assets/dash.png);
    background-size: auto 100%;
}

.countdown-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    background: #fff;
    border-radius: 15px;
    padding: 15px;
}

.pass-valid-for {
    font-size: 12px;
    font-weight: 500;
}

.timer {
    padding-top: 20px;
    display: flex;
    gap: 8px;
    font-size: 30px;
    font-weight: 700;
}
.timer-details {
    display: flex;
    gap: 15px;
    font-size: 10px;
    font-weight: 500;
    margin-right: -15px;
}

.view-pass {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blue2);
    border-radius: 7px;
}

.rects {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.last-2nd {
    height: 5px;
    width: 100%;
    background-color: var(--blue2);
}

.last {
    height: 5px;
    width: 100%;
    background-color: var(--blue3);
    border-radius: 0 0 5px 5px;
}